{% extends 'landing_ru/base.html' %}
{% load static %}
{% block content %}
{#    modal   #}
    <div class="modal fade" id="headerModal" tabindex="-1" aria-labelledby="headerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="headerModalLabel">Забронировать</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="spinner-border">

                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>


                </div>
                <div class="modal-body" id="bodyModal">
                    <p>Оставьте номер телефона или Email, наш менеджер свяжется с Вами в
                        ближайшее время.</p>
                    <form name="modalForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="InputName" class="form-label">Имя</label>
                            <input type="text" name="name" class="form-control" id="InputName"
                                   aria-describedby="nameHelp">
                        </div>

                        <div class="mb-3">
                            <label for="InputEmail" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control"
                                   id="InputEmail"
                                   aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Введите ваш email</div>
                        </div>

                        <div class="mb-3">
                            <label for="InputTel" class="form-label">Телефон</label>
                            <input type="tel" name="phone" class="form-control" id="InputTel"
                                   aria-describedby="telHelp">
                            <div id="telHelp" class="form-text">Или номер телефона</div>
                        </div>

                        <button type="button" id="sendData" class="btn btn-primary">Отправить
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Отменить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--title head max 767px-->
    <div class="title-header">
        <header class="container-fluid bg-dark-red">
            <h1 class="text-center text-white"><span>Ретрит на ваши даты</span> <br>
                на острове Самуи в отеле SatvaSamui</h1>
        </header>
        <div class="title-header-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="red-text">
                            <li>Отель у моря</li>
                            <li>Йога</li>
                            <li>Здоровое питание</li>
                            <li>Индивидуальная программа здоровья</li>
                            <li>Медитация</li>
                        </ul>
                        <p class="red-text"><b style="font-size: 1em">55$</b> в сутки. Всё включено! <br>
                            Двухместное размещение.
                        </p>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="attention-block">
                                <p class="text-white">
                                    Внимание! <br>
                                    Успейте забронировать до
                                    <span id="change-date-sm"></span>
                                    и получите один день в подарок!
                                </p>
                            </div>
                            <button type="button" class="btn-download mb-5" data-bs-toggle="modal"
                                    data-bs-target="#headerModal">
                                Забронировать
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="title-header-lg">
        <header class="container bg-dark-red">
            <h1 class="text-center text-white"><span>Ретрит на ваши даты</span> <br>
                на острове Самуи в отеле SatvaSamui</h1>
        </header>
        <div class="container title-header-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="red-text">
                            <li>Отель у моря</li>
                            <li>Йога</li>
                            <li>Здоровое питание</li>
                            <li>Индивидуальная программа здоровья</li>
                            <li>Медитация</li>
                        </ul>
                        <p class="red-text"><b style="font-size: 1em">55$</b> в сутки. Всё включено! <br>
                            Двухместное размещение.
                        </p>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="attention-block">
                                <p class="text-white">
                                    Внимание! <br>
                                    Успейте забронировать до
                                    <span id="change-date-xl"></span> <br>
                                    и получите один день в подарок!
                                </p>
                            </div>

                            <button type="button" class="btn-download mb-5" data-bs-toggle="modal"
                                    data-bs-target="#headerModal">
                                Забронировать
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--rating max 767px-->
    <div class="our-customers">
        <header class="container-fluid bg-red">
            <p class="text-white text-center">
                За 7 лет наш отель посетило <br>
                более 4000 человек. <br>
                Мы всё проработали до мелочей
            </p>
        </header>
        <img src="{% static 'img/our-customer-img.png' %}" class="img-fluid" alt="Отзывы">
    </div>

    <div class="our-customers-lg">
        <header class="container bg-red">
            <p class="text-white text-center">
                За 7 лет наш отель посетило <br>
                более 4000 человек. <br>
                Мы всё проработали до мелочей
            </p>
        </header>
        <div class="container">
            <div class="row">
                <img src="{% static 'img/our-customer-img.png' %}" class="img-fluid" alt="Отзывы">
            </div>
        </div>
    </div>

    <!--where I live max 767px-->
    <div class="where-i-live">
        <header class="container-fluid bg-red">
            <h1 class="text-center text-white">Где я буду жить?</h1>
        </header>
        <img src="{% static 'img/room1-img.png' %}" alt="Бунгало" class="img-fluid">
        <div class="container-fluid bg-red">
            <p class="text-center text-white">Вас ждут уютные бунгало со всеми удобствами прямо на берегу моря</p>
        </div>
        <img src="{% static 'img/room2-img.png' %}" alt="Бунгало" class="img-fluid">
        <img src="{% static 'img/room3-img.png' %}" alt="Бунгало" class="img-fluid">
        <img src="{% static 'img/room4-img.png' %}" alt="Бунгало" class="img-fluid">
    </div>

    <div class="where-i-live-lg">
        <header class="container bg-red">
            <h1 class="text-center text-white">Где я буду жить?</h1>
        </header>
        <div class="container">
            <div class="row">
                <img src="{% static 'img/room1-img.png' %}" alt="Бунгало" class="img-fluid">
            </div>
            <div class="container bg-red">
                <p class="text-center text-white">Вас ждут уютные бунгало со всеми удобствами прямо на берегу моря</p>
            </div>
            <div class="row">
                <img src="{% static 'img/room2-img.png' %}" alt="Бунгало" class="img-fluid">
            </div>
            <div class="row">
                <img src="{% static 'img/room3-img.png' %}" alt="Бунгало" class="img-fluid">
                <img src="{% static 'img/room4-img.png' %}" alt="Бунгало" class="img-fluid">
            </div>
        </div>
    </div>


    <!--beach max 767px-->
    <div class="beach">
        <header class="container-fluid bg-red">
            <h2 class="text-center text-white">Пляж рядом с нашим отелем</h2>
        </header>
        <img src="{% static 'img/beach-img.png' %}" alt="Пляж" class="img-fluid">
    </div>

    <div class="beach-lg">
        <header class="container bg-red">
            <h2 class="text-center text-white">Пляж рядом с нашим отелем</h2>
        </header>
        <div class="container">
            <div class="row">
                <img src="{% static 'img/beach-img.png' %}" alt="Пляж" class="img-fluid">
            </div>
        </div>
    </div>


    <!--download max 767px-->
    <div class="download-info">
        <header class="container-fluid bg-red">
            <h2 class="text-center text-white">Скачайте подробную информацию <br>
                по всем вариантам жилья <br>
                в SatvaSamui</h2>
        </header>
        <div class="download-info-body">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a href="{% static 'SatvaSamui.pdf' %} " download class="btn-download">Скачать</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-white">Все вопросы можно задать <br> нашему менеджеру</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-evenly">
                        <a href="https://t.me/OlgaSatva" class="icon" target="_blank"><img class="telegram"
                                                                                           src="{% static 'img/telegram-img.png' %}"
                                                                                           alt="telegram icon"></a>
                        <a href="https://wa.me/66950165058" target="_blank" class="icon"><img
                                class="whatsapp" src="{% static 'img/whatsapp-img.png' %}"
                                alt="whatsapp icon"></a>
                        <a href="https://instagram.com/olga.satva" class="icon" target="_blank"><img class="instagram"
                                                                                                     src="{% static 'img/instagram-img.png' %}"
                                                                                                     alt="instagram icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="download-info-lg">
        <header class="container bg-red">
            <h2 class="text-center text-white">Скачайте подробную информацию <br>
                по всем вариантам жилья <br>
                в SatvaSamui</h2>
        </header>
        <div class="container download-info-body">
            <div class="row">
                <div class="col text-center">
                    <a href="{% static 'SatvaSamui.pdf' %}" class="btn-download">Скачать</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center text-white">Все вопросы можно задать <br> нашему менеджеру</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-evenly">
                    <a href="https://t.me/OlgaSatva" class="icon" target="_blank"><img class="telegram"
                                                                                       src="{% static 'img/telegram-img.png' %}"
                                                                                       alt="telegram icon"></a>
                    <a href="https://wa.me/66950165058" target="_blank" class="icon"><img
                            class="whatsapp" src="{% static 'img/whatsapp-img.png' %}"
                            alt="whatsapp icon"></a>
                    <a href="https://instagram.com/olga.satva" class="icon" target="_blank"><img class="instagram"
                                                                                                 src="{% static 'img/instagram-img.png' %}"
                                                                                                 alt="instagram icon"></a>
                </div>
            </div>
        </div>
    </div>


    <!--food max 767px-->
    <div class="food">
        <header class="container-fluid bg-red">
            <h1 class="text-center text-white">Что я буду есть?</h1>
        </header>
        <img src="{% static 'img/food1-img.png' %}" alt="Food" class="img-fluid">
        <header class="container-fluid bg-red">
            <h2 class="text-center text-white">В стоимость ретрита включены вкусные <br>
                и здоровые завтраки и обеды</h2>
        </header>
        <img src="{% static 'img/food2-img.png' %}" alt="Food" class="img-fluid">
        <header class="container-fluid bg-red">
            <h2 class="text-center text-white">В течение дня вы сможете наслаждаться <br>
                свежими соками в кафе на берегу моря</h2>
        </header>
        <img src="{% static 'img/food3-img.png' %}" alt="Food" class="img-fluid">
    </div>

    <div class="food-lg">
        <header class="container bg-red">
            <h1 class="text-center text-white">Что я буду есть?</h1>
        </header>
        <div class="container">
            <div class="row">
                <img src="{% static 'img/food1-img.png' %}" alt="Food" class="img-fluid">
            </div>
        </div>
        <header class="container bg-red">
            <h2 class="text-center text-white">В стоимость ретрита включены вкусные <br>
                и здоровые завтраки и обеды</h2>
        </header>
        <div class="container">
            <div class="row">
                <img src="{% static 'img/food2-img.png' %}" alt="Food" class="img-fluid">
            </div>
        </div>
        <header class="container bg-red">
            <h2 class="text-center text-white">В течение дня вы сможете наслаждаться <br>
                свежими соками в кафе на берегу моря</h2>
        </header>
        <div class="container">
            <div class="row">
                <img src="{% static 'img/food3-img.png' %}" alt="Food" class="img-fluid">
            </div>
        </div>
    </div>

    <!--specialists max 767px-->
    <div class="specialists">
        <header class="container-fluid bg-red">
            <h1 class="text-center text-white">Специалисты отеля SatvaSamui</h1>
        </header>
        <!--ayurveda-->
        <img src="{% static 'img/ayurveda-img.png' %}" alt="Ayurveda" class="img-fluid">
        <div class="container ayurveda">
            <div class="row">
                <div class="col">
                    <p>Здравствуйте! Меня зовут Юлия.
                        Я являюсь членом Национальной Аюрведической Медицинской Ассоциации(НАМА). </p>
                    <p>За 5 лет я разработала более 3000
                        индивидуальных программ здоровья.
                        Как показывает опыт, эти программы
                        отлично подходят для тех, кто хочет:
                    </p>
                    <ul>
                        <li>укрепить иммунитет</li>
                        <li>нормализовать вес</li>
                        <li>улучшить сон</li>
                        <li>стабилизировать гормональную систему</li>
                        <li>повысить уровень жизненной энергии</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--yoga-->
        <img src="{% static 'img/yoga-img.png' %}" alt="Yoga" class="img-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Здравствуйте, меня зовут Дмитрий Врубель</p>
                    <p>Я практикую йогу, медитацию и аюрведу с 2002 года.
                        Профессионально преподаю йогу с 2006 года.
                        Являюсь членом Международного йога-альянса.</p>
                    <p>С 2015 года я провожу занятия и разрабатываю
                        индивидуальные программы йоги для гостей
                        отеля SatvaSamui.
                    </p>
                    <p>На ретрите в отеле SatvaSamui вы научитесь
                        различным комплексам
                        для оздоровления спины, успокоения ума,
                        избавления от лишнего веса и
                        решения многих других задач.
                        Мы будем заниматься на площадке
                        в 10 метрах от моря, наслаждаясь
                        прекрасными закатами!
                    </p>
                    <p>
                        Приглашаю вас на ретрит, который изменит
                        вашу жизнь!
                    </p>
                </div>
            </div>
        </div>

        <!--panchakarma-->
        <img src="{% static 'img/panchakarma-img.png' %}" alt="panchakarma" class="img-fluid mt-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>В отеле SatvaSamui квалифицированные
                        специалисты проведут для вас удивительную
                        панчакарму.</p>
                    <p>Панчакарма является древнейшей аюрведической практикой, которая очищает и омолаживает тело на
                        клеточном уровне.</p>
                </div>
            </div>
        </div>

        <!--stretching-->
        <img src="{% static 'img/stretching-img.png' %}" alt="stretching" class="img-fluid mt-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Здравствуйте, меня зовут Галина! Я кандидат в мастера спорта по художественной гимнастике. Более
                        10 лет в профессиональном спорте. После гимнастики я погрузилась в мир танцев и изучала движения
                        тела через разные танцевальные направления.
                    </p>
                    <p>Сейчас я являюсь сертифицированным учителем
                        йоги и растяжки. Накопленный опыт позволяет мне сочетать знания йоги, спорта и танца и делает
                        практику особенной, интересной и безопасной.
                    </p>
                    <p>Я с радостью научу вас, как выстроить практику,
                        сделать её регулярной и получать от нее удовольствие! <br>
                        Жду вас в SatvaSamui!
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="specialists-lg">
        <header class="container bg-red">
            <h1 class="text-center text-white">Специалисты отеля SatvaSamui</h1>
        </header>
        <!--ayurveda-->
        <div class="ayurveda container">
            <div class="row">
                <div class="col-md-6"><img src="{% static 'img/ayurveda-img.png' %}" alt="Ayurveda" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <p>Здравствуйте! Меня зовут Юлия.
                        Я являюсь членом Национальной Аюрведической Медицинской Ассоциации(НАМА). </p>
                    <p>За 5 лет я разработала более 3000
                        индивидуальных программ здоровья.
                        Как показывает опыт, эти программы
                        отлично подходят для тех, кто хочет:
                    </p>
                    <ul>
                        <li>укрепить иммунитет</li>
                        <li>нормализовать вес</li>
                        <li>улучшить сон</li>
                        <li>стабилизировать гормональную систему</li>
                        <li>повысить уровень жизненной энергии</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--yoga-->
        <div class="container yoga">
            <div class="row">
                <div class="col-md-6"><p>Здравствуйте, меня зовут Дмитрий Врубель</p>
                    <p>Я практикую йогу, медитацию и аюрведу с 2002 года.
                        Профессионально преподаю йогу с 2006 года.
                        Являюсь членом Международного йога-альянса.</p>
                    <p>С 2015 года я провожу занятия и разрабатываю
                        индивидуальные программы йоги для гостей
                        отеля SatvaSamui.
                    </p>
                    <p>На ретрите в отеле SatvaSamui вы научитесь
                        различным комплексам
                        для оздоровления спины, успокоения ума,
                        избавления от лишнего веса и
                        решения многих других задач.
                        Мы будем заниматься на площадке
                        в 10 метрах от моря, наслаждаясь
                        прекрасными закатами!
                    </p>
                    <p>
                        Приглашаю вас на ретрит, который изменит
                        вашу жизнь!
                    </p></div>
                <div class="col-md-6"><img src="{% static 'img/yoga-img.png' %}" alt="Yoga" class="img-fluid"></div>
            </div>
        </div>

        <!--panchakarma-->
        <div class="container panchakarma">
            <div class="row">
                <div class="col-md-6"><img src="{% static 'img/panchakarma-img.png' %}" alt="panchakarma"
                                           class="img-fluid mt-3"></div>
                <div class="col-md-6">
                    <p>В отеле SatvaSamui квалифицированные
                        специалисты проведут для вас удивительную
                        панчакарму.</p>
                    <p>Панчакарма является древнейшей аюрведической практикой, которая очищает и омолаживает тело на
                        клеточном уровне.</p>
                </div>
            </div>
        </div>

        <!--stretching-->
        <div class="container stretching">
            <div class="row">
                <div class="col-md-6">
                    <p>Здравствуйте, меня зовут Галина! Я кандидат в мастера спорта по художественной гимнастике. Более
                        10 лет в профессиональном спорте. После гимнастики я погрузилась в мир танцев и изучала движения
                        тела через разные танцевальные направления.
                    </p>
                    <p>Сейчас я являюсь сертифицированным учителем
                        йоги и растяжки. Накопленный опыт позволяет мне сочетать знания йоги, спорта и танца и делает
                        практику особенной, интересной и безопасной.
                    </p>
                    <p>Я с радостью научу вас, как выстроить практику,
                        сделать её регулярной и получать от нее удовольствие! <br>
                        Жду вас в SatvaSamui!
                    </p>
                </div>
                <div class="col-md-6"><img src="{% static 'img/stretching-img.png' %}" alt="stretching"
                                           class="img-fluid mt-3"></div>

            </div>
        </div>
    </div>


    <!--download max 767px-->
    <div class="download-info mt-3">
        <header class="container-fluid bg-red">
            <h2 class="text-center text-white">Скачайте подробную информацию
                обо всех практиках и оздоровительных
                процедурах в отеле SatvaSamui</h2>
        </header>
        <div class="download-info-body">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a href="{% static 'SatvaSamui.pdf' %}" download class="btn-download">Скачать</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-white">Все вопросы можно задать <br> нашему менеджеру</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-evenly">
                        <a href="https://t.me/OlgaSatva" class="icon" target="_blank"><img class="telegram"
                                                                                           src="{% static 'img/telegram-img.png' %}"
                                                                                           alt="telegram icon"></a>
                        <a href="https://wa.me/66950165058" target="_blank" class="icon"><img
                                class="whatsapp" src="{% static 'img/whatsapp-img.png' %}"
                                alt="whatsapp icon"></a>
                        <a href="https://instagram.com/olga.satva" class="icon" target="_blank"><img class="instagram"
                                                                                                     src="{% static 'img/instagram-img.png' %}"
                                                                                                     alt="instagram icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="download-info-lg mt-3">
        <header class="container bg-red">
            <h2 class="text-center text-white">Скачайте подробную информацию
                обо всех практиках и оздоровительных
                процедурах в отеле SatvaSamui</h2>
        </header>
        <div class="container download-info-body">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a href="{% static 'SatvaSamui.pdf' %}" class="btn-download">Скачать</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-white">Все вопросы можно задать <br> нашему менеджеру</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-evenly">
                        <a href="https://t.me/OlgaSatva" class="icon" target="_blank"><img class="telegram"
                                                                                           src="{% static 'img/telegram-img.png' %}"
                                                                                           alt="telegram icon"></a>
                        <a href="https://wa.me/66950165058" target="_blank" class="icon"><img
                                class="whatsapp" src="{% static 'img/whatsapp-img.png' %}"
                                alt="whatsapp icon"></a>
                        <a href="https://instagram.com/olga.satva" class="icon" target="_blank"><img class="instagram"
                                                                                                     src="{% static 'img/instagram-img.png' %}"
                                                                                                     alt="instagram icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--excursions max 767px-->
    <div class="excursions">
        <header class="container-fluid bg-red">
            <h2 class="text-white text-center">Экскурсии на Самуи</h2>
        </header>
        <img src="{% static 'img/excursion2.png' %}" alt="" class="img-fluid">
        <img src="{% static 'img/samui_waterfall.jpg' %}" alt="" class="img-fluid">
        <img src="{% static 'img/waterfall.jpg' %}" alt="" class="img-fluid">
    </div>

    <div class="excursions-lg">
        <header class="container bg-red">
            <h2 class="text-white text-center">Экскурсии на Самуи</h2>
        </header>
        <div class="container">
            <div class="row">
                <img src="{% static 'img/excursion2.png' %}" alt="" class="img-fluid">
                <img src="{% static 'img/samui_waterfall.jpg' %}" alt="" class="img-fluid">
                <img src="{% static 'img/waterfall.jpg' %}" alt="" class="img-fluid">

            </div>
        </div>
    </div>


    <!--party max 767px-->
    <div class="party">
        <header class="container-fluid bg-red">
            <h2 class="text-white text-center">Вечеринки на закате</h2>
        </header>
        <img src="{% static 'img/party.png' %}" alt="" class="img-fluid">
    </div>

    <div class="party-lg">
        <header class="container bg-red">
            <h2 class="text-white text-center">Вечеринки на закате</h2>
        </header>
        <div class="container">
            <div class="row">
                <img src="{% static 'img/party.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <!--download-->
    <div class="download-info">
        <header class="container-fluid bg-red">
            <h2 class="text-center text-white">Остались вопросы? Скачайте подробную информацию или напишите нам удобным
                для
                вас способом</h2>
        </header>
        <div class="download-info-body">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a href="{% static 'SatvaSamui.pdf' %}" download class="btn-download">Скачать</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-white">Все вопросы можно задать <br> нашему менеджеру</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-evenly">
                        <a href="https://t.me/OlgaSatva" class="icon" target="_blank"><img class="telegram"
                                                                                           src="{% static 'img/telegram-img.png' %}"
                                                                                           alt="telegram icon"></a>
                        <a href="https://wa.me/66950165058" target="_blank" class="icon"><img
                                class="whatsapp" src="{% static 'img/whatsapp-img.png' %}"
                                alt="whatsapp icon"></a>
                        <a href="https://instagram.com/olga.satva" class="icon" target="_blank"><img class="instagram"
                                                                                                     src="{% static 'img/instagram-img.png' %}"
                                                                                                     alt="instagram icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="download-info-lg">
        <header class="container bg-red">
            <h2 class="text-center text-white">Остались вопросы? Скачайте подробную информацию или напишите нам удобным
                для
                вас способом</h2>
        </header>
        <div class="container download-info-body">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a href="{% static 'SatvaSamui.pdf' %}" class="btn-download">Скачать</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-white">Все вопросы можно задать <br> нашему менеджеру</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-evenly">
                        <a href="https://t.me/OlgaSatva" class="icon" target="_blank"><img class="telegram"
                                                                                           src="{% static 'img/telegram-img.png' %}"
                                                                                           alt="telegram icon"></a>
                        <a href="https://wa.me/66950165058" target="_blank" class="icon"><img
                                class="whatsapp" src="{% static 'img/whatsapp-img.png' %}"
                                alt="whatsapp icon"></a>
                        <a href="https://instagram.com/olga.satva" class="icon" target="_blank"><img class="instagram"
                                                                                                     src="{% static 'img/instagram-img.png' %}"
                                                                                                     alt="instagram icon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}