@media (max-width: 320px) {
  .title-header {
    header {
      h1 {
        span {
          font-size: 24px;
        }
      }
    }

    .title-header-body {
      p {
        margin-left: 15px;
      }

      .attention-block {

        p {
          padding: 7px 20px;
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }

  .our-customers {
    header {
      p {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  .beach {
    header {
      h2 {
        font-size: 17px;
        line-height: normal;
      }
    }
  }

  .download-info {
    h2 {
      font-size: 15px;
      line-height: 18px;
    }

    .download-info-body {


      p {
        font-size: 16px;
        line-height: 19px;
      }

      .icon {
        img {
          width: 50px;
          margin-bottom: 30px;
        }
      }
    }
  }

}