@media (max-width: 400px) {

  .title-header {
    header {
      h1 {
        span {
          font-size: 26px;
        }
      }
    }

    .title-header-body {

      p {
        font-size: 20px;
        line-height: 23px;
      }

      .attention-block {
        background: linear-gradient(240deg, transparent 52px, rgba(106, 0, 0, 0.83) 0);

        p {
          padding: 7px 60px 7px 30px;
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }

  .our-customers {
    header {
      p {
        font-size: 20px;
        line-height: 23px;
      }
    }
  }

  .where-i-live {
    header {
      h1 {
        font-size: 30px;
      }
    }
  }

  .beach {
    header {
      h2 {
        font-size: 22px;
        line-height: 26px;
        margin: 0;
        padding: 15px 0;
      }
    }
  }

  .download-info {
    h2 {
      font-size: 18px;
      line-height: 21px;
      margin: 0;
      padding: 15px 0;
    }

    .download-info-body {
      background: url(/static/img/download-bg.png) no-repeat;
      background-size: cover;

      .btn-download {
        color: white;
        text-decoration: none;
        background-color: #FF5F01;
        padding: 11px 27px;
        display: inline-block;
        margin-top: 33px;
        font-size: 18px;
        line-height: 21px;
      }

      p {
        font-size: 18px;
        line-height: 21px;
        margin: 21px;
      }

      .icon {
        img {
          width: 50px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .food {
    header {
      h1 {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        padding: 15px 0;
      }

      h2 {
        font-size: 17px;
        line-height: 20px;
        margin: 0;
        padding: 15px 0;
      }
    }
  }

  .specialists {
    header {
      h1 {
        font-size: 22px;
        line-height: 26px;
        margin: 0;
        padding: 15px 0;
      }
    }

    p, ul {
      font-size: 14px;
      line-height: 16px;

    }

    p {
      margin-top: 1rem;
      margin-bottom: 0;

    }

  }

  .excursions {
    h2 {
      font-size: 24px;
      line-height: 28px;
      margin: 0;
      padding: 15px 0;
    }
  }

  .party {
    h2 {
      font-size: 24px;
      line-height: 28px;
      margin: 0;
      padding: 15px 0;
    }
  }

}