@media (max-width: 767px) and (min-width: 576px) {
  .title-header-lg {
    display: none;
  }

  .title-header {
    header {
      h1 {
        span {
          font-size: 30px;
        }

        font-size: 20px;
        line-height: 29px;
        padding: 15px 0;
      }
    }

    .title-header-body {
      background: url(/static/img/bg-title-header.png) no-repeat;
      background-size: cover;

      p {
        font-size: 26px;
        line-height: 30px;
        margin-left: 20px;
        font-weight: bold;
      }

      .btn-download {
        margin-left: 28px;
      }

      ul {
        font-size: 24px;
      }

      .attention-block {
        background: linear-gradient(240deg, transparent 80px, rgba(106, 0, 0, 0.83) 0);
        margin-left: 28px;
        margin-bottom: 15px;

        p {
          margin: 0;
          padding: 15px 30px;
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }

  .our-customers-lg {
    display: none;
  }

  .our-customers {
    header {
      p {
        padding: 15px 0;
        font-size: 23px;
        line-height: 27px;
        margin-bottom: 0;
      }
    }
  }

  .where-i-live-lg {
    display: none;
  }

  .where-i-live {
    header {
      h1 {
        margin: 0;
        padding: 15px 0;
        font-size: 34px;
      }
    }

    p {
      margin: 0;
      padding: 15px 0;
      font-size: 18px;
      line-height: 21px;
    }
  }

  .beach-lg {
    display: none;
  }

  .beach {
    header {
      h2 {
        font-size: 25px;
        line-height: 26px;
        margin: 0;
        padding: 15px 0;
      }
    }
  }

  .download-info-lg {
    display: none;
  }

  .download-info {
    h2 {
      font-size: 21px;
      line-height: 25px;
      margin: 0;
      padding: 15px 0;
    }

    .download-info-body {
      background: url(/static/img/download-bg.png) no-repeat;
      background-size: cover;

      .btn-download {
        color: white;
        text-decoration: none;
        background-color: #FF5F01;
        padding: 11px 27px;
        display: inline-block;
        margin-top: 33px;
        font-size: 18px;
        line-height: 21px;
      }

      p {
        font-size: 18px;
        line-height: 21px;
        margin: 21px;
      }

      .icon {
        img {
          width: 50px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .food {
    header {
      h1 {
        margin: 0;
        font-size: 26px;
        padding: 15px 0;
      }

      h2 {
        font-size: 17px;
        line-height: 20px;
        margin: 0;
        padding: 15px 0;
      }
    }
  }

  .food-lg {
    display: none;
  }

  .specialists {
    header {
      h1 {
        font-size: 22px;
        line-height: 26px;
        margin: 0;
        padding: 15px 0;
      }
    }

    p, ul {
      font-size: 14px;
      line-height: 16px;

    }

    p {
      margin-top: 1rem;
      margin-bottom: 0;

    }

  }

  .specialists-lg {
    display: none;
  }

  .excursions {
    h2 {
      font-size: 24px;
      line-height: 28px;
      margin: 0;
      padding: 15px 0;
    }
  }

  .excursions-lg {
    display: none;
  }

  .party {
    h2 {
      font-size: 24px;
      line-height: 28px;
      margin: 0;
      padding: 15px 0;
    }
  }

  .party-lg {
    display: none;
  }
}