@media (min-width: 1400px) {
  .title-header {
    display: none;
  }

  .title-header-lg {
    header {
      h1 {
        span {
          font-size: 34px;
        }

        font-size: 24px;
        line-height: 34px;
        padding: 25px 0;
      }
    }

    .title-header-body {
      background: url(/static/img/bg-title-header.png) no-repeat;
      background-size: cover;

      p {
        font-size: 33px;
        line-height: 42px;
        margin: 1.5em 2.5em;
        font-weight: bold;
      }

      ul {
        font-size: 32px;
        margin: 2em;
      }

      .modal-body {
        p {
          font-size: 16px;
          line-height: 18px;
          margin: 0 0 15px;
          font-weight: normal;
        }
      }

      .attention-block {
        background: linear-gradient(240deg, transparent 75px, rgba(106, 0, 0, 0.83) 0);

        p {
          padding: 15px 18px;
          font-size: 26px;
          line-height: 32px;
        }
      }
    }
  }

  .our-customers {
    display: none;
  }

  .our-customers-lg {
    header {
      p {
        padding: 25px 0;
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 0;
      }
    }

    .container {
      padding: 0;
    }
  }

  .where-i-live {
    display: none;
  }

  .where-i-live-lg {
    .container {
      padding: 0;
    }

    header {
      h1 {
        margin: 0;
        padding: 25px 0;
        font-size: 38px;
      }
    }

    p {
      margin: 0;
      padding: 25px 0;
      font-size: 27px;
      line-height: 35px;
    }
  }

  .beach {
    display: none;
  }

  .beach-lg {
    .container {
      padding: 0;
    }

    header {
      h2 {
        font-size: 30px;
        margin: 0;
        padding: 25px 0;
      }
    }
  }

  .download-info {
    display: none;
  }

  .download-info-lg {
    h2 {
      font-size: 28px;
      margin: 0;
      padding: 25px 0;
    }

    .download-info-body {
      background: url(/static/img/download-bg.png) no-repeat;
      background-size: cover;

      .btn-download {
        color: white;
        text-decoration: none;
        background-color: #FF5F01;
        padding: 15px 55px;
        display: inline-block;
        margin-top: 33px;
        font-size: 27px;

      }

      p {
        font-size: 27px;
        margin: 21px;
      }

      .icon {
        img {
          width: 80px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .food {
    display: none;
  }

  .food-lg {
    .container {
      padding: 0;
    }

    header {
      h1 {
        margin: 0;
        font-size: 38px;
        padding: 25px 0;
      }

      h2 {
        font-size: 26px;
        margin: 0;
        padding: 25px 0;
      }
    }
  }

  .specialists {
    display: none;
  }


  .specialists-lg {
    .container {
      padding: 0;
    }

    img {
      margin: 15px 0;
    }

    header {
      h1 {
        font-size: 34px;
        margin: 0;
        padding: 25px 0;
      }
    }

    p, ul {
      font-size: 22px;

    }

    p {
      margin-top: 1rem;
      margin-bottom: 0;
    }


    .yoga {
      p {
        font-size: 22px;
        line-height: normal;
      }
    }

    .stretching {
      p {
        font-size: 22px;
        line-height: normal;
      }
    }
  }

  .excursions {
    display: none;
  }

  .excursions-lg {
    .container {
      padding: 0;
    }

    h2 {
      font-size: 34px;
      margin: 0;
      padding: 25px 0;
    }
  }

  .party {
    display: none;
  }

  .party-lg {
    .container {
      padding: 0;

    }

    h2 {
      font-size: 34px;
      margin: 0;
      padding: 25px 0;
    }
  }
}
