//colors

.bg-red {
  background-color: #622849;
}

.bg-orange {
  background-color: #FF5F01;
}

.bg-dark-red {
  background-color: #8E0000;
}

.btn-download {
  color: white;
  text-decoration: none;
  background-color: #FF5F01;
  padding: 15px 55px;
  display: inline-block;
  font-size: 27px;
  border: none;
}

#spinner-border {
  display: none;
}

.modal-body {
  p {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    font-weight: normal;
  }
}

.red-text {
  color: #580000;
}

// font
body {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
