.bg-red {
  background-color: #622849;
}
.bg-orange {
  background-color: #FF5F01;
}
.bg-dark-red {
  background-color: #8E0000;
}
.btn-download {
  color: white;
  text-decoration: none;
  background-color: #FF5F01;
  padding: 15px 55px;
  display: inline-block;
  font-size: 27px;
  border: none;
}
#spinner-border {
  display: none;
}
.modal-body p {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  font-weight: normal;
}
.red-text {
  color: #580000;
}
body {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
@media (min-width: 1400px) {
  .title-header {
    display: none;
  }
  .title-header-lg header h1 {
    font-size: 24px;
    line-height: 34px;
    padding: 25px 0;
  }
  .title-header-lg header h1 span {
    font-size: 34px;
  }
  .title-header-lg .title-header-body {
    background: url(/static/img/bg-title-header.png) no-repeat;
    background-size: cover;
  }
  .title-header-lg .title-header-body p {
    font-size: 33px;
    line-height: 42px;
    margin: 1.5em 2.5em;
    font-weight: bold;
  }
  .title-header-lg .title-header-body ul {
    font-size: 32px;
    margin: 2em;
  }
  .title-header-lg .title-header-body .modal-body p {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 15px;
    font-weight: normal;
  }
  .title-header-lg .title-header-body .attention-block {
    background: linear-gradient(240deg, transparent 75px, rgba(106, 0, 0, 0.83) 0);
  }
  .title-header-lg .title-header-body .attention-block p {
    padding: 15px 18px;
    font-size: 26px;
    line-height: 32px;
  }
  .our-customers {
    display: none;
  }
  .our-customers-lg header p {
    padding: 25px 0;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 0;
  }
  .our-customers-lg .container {
    padding: 0;
  }
  .where-i-live {
    display: none;
  }
  .where-i-live-lg .container {
    padding: 0;
  }
  .where-i-live-lg header h1 {
    margin: 0;
    padding: 25px 0;
    font-size: 38px;
  }
  .where-i-live-lg p {
    margin: 0;
    padding: 25px 0;
    font-size: 27px;
    line-height: 35px;
  }
  .beach {
    display: none;
  }
  .beach-lg .container {
    padding: 0;
  }
  .beach-lg header h2 {
    font-size: 30px;
    margin: 0;
    padding: 25px 0;
  }
  .download-info {
    display: none;
  }
  .download-info-lg h2 {
    font-size: 28px;
    margin: 0;
    padding: 25px 0;
  }
  .download-info-lg .download-info-body {
    background: url(/static/img/download-bg.png) no-repeat;
    background-size: cover;
  }
  .download-info-lg .download-info-body .btn-download {
    color: white;
    text-decoration: none;
    background-color: #FF5F01;
    padding: 15px 55px;
    display: inline-block;
    margin-top: 33px;
    font-size: 27px;
  }
  .download-info-lg .download-info-body p {
    font-size: 27px;
    margin: 21px;
  }
  .download-info-lg .download-info-body .icon img {
    width: 80px;
    margin-bottom: 30px;
  }
  .food {
    display: none;
  }
  .food-lg .container {
    padding: 0;
  }
  .food-lg header h1 {
    margin: 0;
    font-size: 38px;
    padding: 25px 0;
  }
  .food-lg header h2 {
    font-size: 26px;
    margin: 0;
    padding: 25px 0;
  }
  .specialists {
    display: none;
  }
  .specialists-lg .container {
    padding: 0;
  }
  .specialists-lg img {
    margin: 15px 0;
  }
  .specialists-lg header h1 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
  .specialists-lg p,
  .specialists-lg ul {
    font-size: 22px;
  }
  .specialists-lg p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .specialists-lg .yoga p {
    font-size: 22px;
    line-height: normal;
  }
  .specialists-lg .stretching p {
    font-size: 22px;
    line-height: normal;
  }
  .excursions {
    display: none;
  }
  .excursions-lg .container {
    padding: 0;
  }
  .excursions-lg h2 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
  .party {
    display: none;
  }
  .party-lg .container {
    padding: 0;
  }
  .party-lg h2 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
}
@media (max-width: 1400px) and (min-width: 1200px) {
  .title-header {
    display: none;
  }
  .title-header-lg header h1 {
    font-size: 24px;
    line-height: 34px;
    padding: 25px 0;
  }
  .title-header-lg header h1 span {
    font-size: 34px;
  }
  .title-header-lg .title-header-body {
    background: url(/static/img/bg-title-header.png) no-repeat;
    background-size: cover;
  }
  .title-header-lg .title-header-body p {
    font-size: 33px;
    line-height: 42px;
    margin: 2.5em;
    font-weight: bold;
  }
  .title-header-lg .title-header-body ul {
    font-size: 30px;
    margin: 2.5em;
  }
  .title-header-lg .title-header-body .attention-block {
    background: linear-gradient(240deg, transparent 75px, rgba(106, 0, 0, 0.83) 0);
  }
  .title-header-lg .title-header-body .attention-block p {
    padding: 15px 18px;
    font-size: 26px;
    line-height: 32px;
  }
  .our-customers {
    display: none;
  }
  .our-customers-lg header p {
    padding: 25px 0;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 0;
  }
  .our-customers-lg .container {
    padding: 0;
  }
  .where-i-live {
    display: none;
  }
  .where-i-live-lg .container {
    padding: 0;
  }
  .where-i-live-lg header h1 {
    margin: 0;
    padding: 25px 0;
    font-size: 38px;
  }
  .where-i-live-lg p {
    margin: 0;
    padding: 25px 0;
    font-size: 27px;
    line-height: 35px;
  }
  .beach {
    display: none;
  }
  .beach-lg .container {
    padding: 0;
  }
  .beach-lg header h2 {
    font-size: 30px;
    margin: 0;
    padding: 25px 0;
  }
  .download-info {
    display: none;
  }
  .download-info-lg h2 {
    font-size: 28px;
    margin: 0;
    padding: 25px 0;
  }
  .download-info-lg .download-info-body {
    background: url(/static/img/download-bg.png) no-repeat;
    background-size: cover;
  }
  .download-info-lg .download-info-body .btn-download {
    color: white;
    text-decoration: none;
    background-color: #FF5F01;
    padding: 15px 55px;
    display: inline-block;
    margin-top: 33px;
    font-size: 27px;
  }
  .download-info-lg .download-info-body p {
    font-size: 27px;
    margin: 21px;
  }
  .download-info-lg .download-info-body .icon img {
    width: 80px;
    margin-bottom: 30px;
  }
  .food {
    display: none;
  }
  .food-lg .container {
    padding: 0;
  }
  .food-lg header h1 {
    margin: 0;
    font-size: 38px;
    padding: 25px 0;
  }
  .food-lg header h2 {
    font-size: 26px;
    margin: 0;
    padding: 25px 0;
  }
  .specialists {
    display: none;
  }
  .specialists-lg .container {
    padding: 0;
  }
  .specialists-lg img {
    margin: 15px 0;
  }
  .specialists-lg header h1 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
  .specialists-lg p,
  .specialists-lg ul {
    font-size: 16px;
    line-height: normal;
  }
  .specialists-lg p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .specialists-lg .yoga p {
    font-size: 16px;
    line-height: normal;
  }
  .specialists-lg .stretching p {
    font-size: 16px;
    line-height: normal;
  }
  .excursions {
    display: none;
  }
  .excursions-lg .container {
    padding: 0;
  }
  .excursions-lg h2 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
  .party {
    display: none;
  }
  .party-lg .container {
    padding: 0;
  }
  .party-lg h2 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .title-header {
    display: none;
  }
  .title-header-lg header h1 {
    font-size: 24px;
    line-height: 34px;
    padding: 25px 0;
  }
  .title-header-lg header h1 span {
    font-size: 34px;
  }
  .title-header-lg .title-header-body {
    background: url(/static/img/bg-title-header.png) no-repeat;
    background-size: cover;
  }
  .title-header-lg .title-header-body p {
    font-size: 33px;
    line-height: 42px;
    margin: 2.5em;
    font-weight: bold;
  }
  .title-header-lg .title-header-body ul {
    font-size: 28px;
    margin: 2em;
  }
  .title-header-lg .title-header-body .attention-block {
    background: linear-gradient(240deg, transparent 75px, rgba(106, 0, 0, 0.83) 0);
  }
  .title-header-lg .title-header-body .attention-block p {
    padding: 15px 18px;
    font-size: 26px;
    line-height: 32px;
  }
  .our-customers {
    display: none;
  }
  .our-customers-lg header p {
    padding: 25px 0;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 0;
  }
  .our-customers-lg .container {
    padding: 0;
  }
  .where-i-live {
    display: none;
  }
  .where-i-live-lg .container {
    padding: 0;
  }
  .where-i-live-lg header h1 {
    margin: 0;
    padding: 25px 0;
    font-size: 38px;
  }
  .where-i-live-lg p {
    margin: 0;
    padding: 25px 0;
    font-size: 27px;
    line-height: 35px;
  }
  .beach {
    display: none;
  }
  .beach-lg .container {
    padding: 0;
  }
  .beach-lg header h2 {
    font-size: 30px;
    margin: 0;
    padding: 25px 0;
  }
  .download-info {
    display: none;
  }
  .download-info-lg h2 {
    font-size: 28px;
    margin: 0;
    padding: 25px 0;
  }
  .download-info-lg .download-info-body {
    background: url(/static/img/download-bg.png) no-repeat;
    background-size: cover;
  }
  .download-info-lg .download-info-body .btn-download {
    color: white;
    text-decoration: none;
    background-color: #FF5F01;
    padding: 15px 55px;
    display: inline-block;
    margin-top: 33px;
    font-size: 27px;
  }
  .download-info-lg .download-info-body p {
    font-size: 27px;
    margin: 21px;
  }
  .download-info-lg .download-info-body .icon img {
    width: 80px;
    margin-bottom: 30px;
  }
  .food {
    display: none;
  }
  .food-lg .container {
    padding: 0;
  }
  .food-lg header h1 {
    margin: 0;
    font-size: 38px;
    padding: 25px 0;
  }
  .food-lg header h2 {
    font-size: 26px;
    margin: 0;
    padding: 25px 0;
  }
  .specialists {
    display: none;
  }
  .specialists-lg .container {
    padding: 0;
  }
  .specialists-lg img {
    margin: 15px 0;
  }
  .specialists-lg header h1 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
  .specialists-lg p,
  .specialists-lg ul {
    font-size: 16px;
    line-height: normal;
  }
  .specialists-lg p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .specialists-lg .yoga p {
    font-size: 16px;
    line-height: normal;
  }
  .specialists-lg .stretching p {
    font-size: 16px;
    line-height: normal;
  }
  .excursions {
    display: none;
  }
  .excursions-lg .container {
    padding: 0;
  }
  .excursions-lg h2 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
  .party {
    display: none;
  }
  .party-lg .container {
    padding: 0;
  }
  .party-lg h2 {
    font-size: 34px;
    margin: 0;
    padding: 25px 0;
  }
}
@media (max-width: 992px) and (min-width: 767px) {
  .title-header {
    display: none;
  }
  .title-header-lg header h1 {
    font-size: 20px;
    line-height: 29px;
    padding: 15px 0;
  }
  .title-header-lg header h1 span {
    font-size: 30px;
  }
  .title-header-lg .title-header-body {
    background: url(/static/img/bg-title-header.png) no-repeat;
    background-size: cover;
  }
  .title-header-lg .title-header-body p {
    font-size: 28px;
    line-height: 32px;
    margin: 2em;
    font-weight: bold;
  }
  .title-header-lg .title-header-body ul {
    font-size: 26px;
    margin: 2em;
  }
  .title-header-lg .title-header-body .attention-block {
    background: linear-gradient(240deg, transparent 75px, rgba(106, 0, 0, 0.83) 0);
  }
  .title-header-lg .title-header-body .attention-block p {
    padding: 7px 30px;
    font-size: 22px;
    line-height: 26px;
  }
  .our-customers {
    display: none;
  }
  .our-customers-lg header p {
    padding: 15px 0;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 0;
  }
  .our-customers-lg .container {
    padding: 0;
  }
  .where-i-live {
    display: none;
  }
  .where-i-live-lg .container {
    padding: 0;
  }
  .where-i-live-lg header h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 34px;
  }
  .where-i-live-lg p {
    margin: 0;
    padding: 15px 0;
    font-size: 18px;
    line-height: 21px;
  }
  .beach {
    display: none;
  }
  .beach-lg .container {
    padding: 0;
  }
  .beach-lg header h2 {
    font-size: 25px;
    line-height: 26px;
    margin: 0;
    padding: 15px 0;
  }
  .download-info {
    display: none;
  }
  .download-info-lg h2 {
    font-size: 21px;
    line-height: 25px;
    margin: 0;
    padding: 15px 0;
  }
  .download-info-lg .download-info-body {
    background: url(/static/img/download-bg.png) no-repeat;
    background-size: cover;
  }
  .download-info-lg .download-info-body .btn-download {
    color: white;
    text-decoration: none;
    background-color: #FF5F01;
    padding: 11px 27px;
    display: inline-block;
    margin-top: 33px;
    font-size: 18px;
    line-height: 21px;
  }
  .download-info-lg .download-info-body p {
    font-size: 18px;
    line-height: 21px;
    margin: 21px;
  }
  .download-info-lg .download-info-body .icon img {
    width: 50px;
    margin-bottom: 30px;
  }
  .food {
    display: none;
  }
  .food-lg .container {
    padding: 0;
  }
  .food-lg header h1 {
    margin: 0;
    font-size: 26px;
    padding: 15px 0;
  }
  .food-lg header h2 {
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    padding: 15px 0;
  }
  .specialists {
    display: none;
  }
  .specialists-lg .container {
    padding: 0;
  }
  .specialists-lg img {
    margin: 15px 0;
  }
  .specialists-lg header h1 {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 15px 0;
  }
  .specialists-lg p,
  .specialists-lg ul {
    font-size: 14px;
  }
  .specialists-lg p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .specialists-lg .yoga p {
    font-size: 14px;
    line-height: normal;
  }
  .specialists-lg .stretching p {
    font-size: 14px;
    line-height: normal;
  }
  .excursions {
    display: none;
  }
  .excursions-lg .container {
    padding: 0;
  }
  .excursions-lg h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 15px 0;
  }
  .party {
    display: none;
  }
  .party-lg .container {
    padding: 0;
  }
  .party-lg h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 15px 0;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .title-header-lg {
    display: none;
  }
  .title-header header h1 {
    font-size: 20px;
    line-height: 29px;
    padding: 15px 0;
  }
  .title-header header h1 span {
    font-size: 30px;
  }
  .title-header .title-header-body {
    background: url(/static/img/bg-title-header.png) no-repeat;
    background-size: cover;
  }
  .title-header .title-header-body p {
    font-size: 26px;
    line-height: 30px;
    margin-left: 20px;
    font-weight: bold;
  }
  .title-header .title-header-body .btn-download {
    margin-left: 28px;
  }
  .title-header .title-header-body ul {
    font-size: 24px;
  }
  .title-header .title-header-body .attention-block {
    background: linear-gradient(240deg, transparent 80px, rgba(106, 0, 0, 0.83) 0);
    margin-left: 28px;
    margin-bottom: 15px;
  }
  .title-header .title-header-body .attention-block p {
    margin: 0;
    padding: 15px 30px;
    font-size: 20px;
    line-height: 25px;
  }
  .our-customers-lg {
    display: none;
  }
  .our-customers header p {
    padding: 15px 0;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 0;
  }
  .where-i-live-lg {
    display: none;
  }
  .where-i-live header h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 34px;
  }
  .where-i-live p {
    margin: 0;
    padding: 15px 0;
    font-size: 18px;
    line-height: 21px;
  }
  .beach-lg {
    display: none;
  }
  .beach header h2 {
    font-size: 25px;
    line-height: 26px;
    margin: 0;
    padding: 15px 0;
  }
  .download-info-lg {
    display: none;
  }
  .download-info h2 {
    font-size: 21px;
    line-height: 25px;
    margin: 0;
    padding: 15px 0;
  }
  .download-info .download-info-body {
    background: url(/static/img/download-bg.png) no-repeat;
    background-size: cover;
  }
  .download-info .download-info-body .btn-download {
    color: white;
    text-decoration: none;
    background-color: #FF5F01;
    padding: 11px 27px;
    display: inline-block;
    margin-top: 33px;
    font-size: 18px;
    line-height: 21px;
  }
  .download-info .download-info-body p {
    font-size: 18px;
    line-height: 21px;
    margin: 21px;
  }
  .download-info .download-info-body .icon img {
    width: 50px;
    margin-bottom: 30px;
  }
  .food header h1 {
    margin: 0;
    font-size: 26px;
    padding: 15px 0;
  }
  .food header h2 {
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    padding: 15px 0;
  }
  .food-lg {
    display: none;
  }
  .specialists header h1 {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 15px 0;
  }
  .specialists p,
  .specialists ul {
    font-size: 14px;
    line-height: 16px;
  }
  .specialists p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .specialists-lg {
    display: none;
  }
  .excursions h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 15px 0;
  }
  .excursions-lg {
    display: none;
  }
  .party h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 15px 0;
  }
  .party-lg {
    display: none;
  }
}
@media (max-width: 576px) {
  .title-header-lg {
    display: none;
  }
  .title-header header h1 {
    font-size: 20px;
    line-height: 29px;
    padding: 15px 0;
  }
  .title-header header h1 span {
    font-size: 30px;
  }
  .title-header .title-header-body {
    background: url(/static/img/bg-title-header.png) no-repeat;
    background-size: cover;
  }
  .title-header .title-header-body p {
    font-size: 24px;
    line-height: 30px;
    margin-left: 20px;
    font-weight: bold;
  }
  .title-header .title-header-body ul {
    font-size: 18px;
  }
  .title-header .title-header-body .btn-download {
    margin-left: 28px;
    font-size: 20px;
    padding: 15px 30px;
  }
  .title-header .title-header-body .attention-block {
    background: linear-gradient(240deg, transparent 80px, rgba(106, 0, 0, 0.83) 0);
    margin-left: 28px;
    margin-bottom: 15px;
  }
  .title-header .title-header-body .attention-block p {
    margin: 0;
    padding: 15px 80px 15px 30px;
    font-size: 20px;
    line-height: 25px;
  }
  .our-customers-lg {
    display: none;
  }
  .our-customers header p {
    padding: 15px 0;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 0;
  }
  .where-i-live-lg {
    display: none;
  }
  .where-i-live header h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 34px;
  }
  .where-i-live p {
    margin: 0;
    padding: 15px 0;
    font-size: 18px;
    line-height: 21px;
  }
  .beach-lg {
    display: none;
  }
  .beach header h2 {
    font-size: 25px;
    line-height: 26px;
    margin: 0;
    padding: 15px 0;
  }
  .download-info-lg {
    display: none;
  }
  .download-info h2 {
    font-size: 21px;
    line-height: 25px;
    margin: 0;
    padding: 15px 0;
  }
  .download-info .download-info-body {
    background: url(/static/img/download-bg.png) no-repeat;
    background-size: cover;
  }
  .download-info .download-info-body .btn-download {
    color: white;
    text-decoration: none;
    background-color: #FF5F01;
    padding: 11px 27px;
    display: inline-block;
    margin-top: 33px;
    font-size: 18px;
    line-height: 21px;
  }
  .download-info .download-info-body p {
    font-size: 18px;
    line-height: 21px;
    margin: 21px;
  }
  .download-info .download-info-body .icon img {
    width: 50px;
    margin-bottom: 30px;
  }
  .food header h1 {
    margin: 0;
    font-size: 26px;
    padding: 15px 0;
  }
  .food header h2 {
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    padding: 15px 0;
  }
  .food-lg {
    display: none;
  }
  .specialists header h1 {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 15px 0;
  }
  .specialists p,
  .specialists ul {
    font-size: 14px;
    line-height: 16px;
  }
  .specialists p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .specialists-lg {
    display: none;
  }
  .excursions h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 15px 0;
  }
  .excursions-lg {
    display: none;
  }
  .party-lg {
    display: none;
  }
}
@media (max-width: 400px) {
  .title-header header h1 span {
    font-size: 26px;
  }
  .title-header .title-header-body p {
    font-size: 20px;
    line-height: 23px;
  }
  .title-header .title-header-body .attention-block {
    background: linear-gradient(240deg, transparent 52px, rgba(106, 0, 0, 0.83) 0);
  }
  .title-header .title-header-body .attention-block p {
    padding: 7px 60px 7px 30px;
    font-size: 18px;
    line-height: 21px;
  }
  .our-customers header p {
    font-size: 20px;
    line-height: 23px;
  }
  .where-i-live header h1 {
    font-size: 30px;
  }
  .beach header h2 {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 15px 0;
  }
  .download-info h2 {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 15px 0;
  }
  .download-info .download-info-body {
    background: url(/static/img/download-bg.png) no-repeat;
    background-size: cover;
  }
  .download-info .download-info-body .btn-download {
    color: white;
    text-decoration: none;
    background-color: #FF5F01;
    padding: 11px 27px;
    display: inline-block;
    margin-top: 33px;
    font-size: 18px;
    line-height: 21px;
  }
  .download-info .download-info-body p {
    font-size: 18px;
    line-height: 21px;
    margin: 21px;
  }
  .download-info .download-info-body .icon img {
    width: 50px;
    margin-bottom: 30px;
  }
  .food header h1 {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    padding: 15px 0;
  }
  .food header h2 {
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    padding: 15px 0;
  }
  .specialists header h1 {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 15px 0;
  }
  .specialists p,
  .specialists ul {
    font-size: 14px;
    line-height: 16px;
  }
  .specialists p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .excursions h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 15px 0;
  }
  .party h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 15px 0;
  }
}
@media (max-width: 320px) {
  .title-header header h1 span {
    font-size: 24px;
  }
  .title-header .title-header-body p {
    margin-left: 15px;
  }
  .title-header .title-header-body .attention-block p {
    padding: 7px 20px;
    font-size: 13px;
    line-height: 18px;
  }
  .our-customers header p {
    font-size: 15px;
    line-height: 20px;
  }
  .beach header h2 {
    font-size: 17px;
    line-height: normal;
  }
  .download-info h2 {
    font-size: 15px;
    line-height: 18px;
  }
  .download-info .download-info-body p {
    font-size: 16px;
    line-height: 19px;
  }
  .download-info .download-info-body .icon img {
    width: 50px;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */